<div class="animation">
  <app-particle-bg></app-particle-bg>
  <app-sign-up-form
    class="forms"
    (sendEvent)="this.createUser($event)"
    [asyncError]="(asyncError$ | async) ?? 0"
    *ngIf="(showCodeInput$ | async) === false"></app-sign-up-form>
  <app-insert-your-code
    (sendEvent)="confirmCodeSignUp({ code: $event.code })"
    (returnEvent)="returnToSignUp()"
    [asyncError]="(asyncError$ | async) ?? 0"
    class="forms"
    *ngIf="showCodeInput$ | async"></app-insert-your-code>
</div>
<div class="panel" tabindex="0" *ngIf="isHandset$ | async">
  <p i18n>Privacy</p>
  <p i18n>Security</p>
  <p i18n>Reliability</p>
  <p i18n>Anonymity</p>
  <p class="description" i18n>
    Your journey to find a platform with these criterias has finished, welcome to Central Hash.
  </p>
  <div class="stripes"></div>
</div>
