:host {
  @apply flex justify-between items-center;
  .animation {
    @apply relative;
    @apply w-full min-[1024px]:w-[55vw];
    height: calc(100vh - 99px);
  }
  .forms {
    @apply font-bold;
    @apply absolute top-[50%] left-[50%] transform translate-x-[-50%] translate-y-[-50%];
  }

  .panel {
    @apply flex flex-col justify-start items-start;
    @apply px-6 pt-12 pb-6;
    @apply rounded-lg;
    @apply my-5 mr-5;
    @apply shadow-lifted;
    @apply text-7xl font-bold;
    @apply w-[45vw];

    background-color: var(--mat-toolbar-container-background-color);
    height: calc(100vh - 147px);

    .description {
      @apply text-2xl text-gray-700 my-3 font-normal;
    }
  }

  .stripes {
    @apply rounded-lg;
    @apply h-full w-full;
    background: repeating-linear-gradient(
      -45deg,
      var(--mat-toolbar-container-text-color),
      var(--mat-toolbar-container-text-color) 20px,
      rgba(0, 0, 0, 0) 20px,
      rgba(0, 0, 0, 0) 40px
    );
  }
}
