<div *ngIf="!isConfirmed; else confirmedTransaction">
  <div class="flex flex-col items-center justify-center w-full p-4 gap-2 relative">
    <p class="header">Deposit crypto</p>
    <p class="description">Select which cryptocurrency you want to withdrawal.</p>
  </div>
  <div class="flex flex-col gap-3 items-center">
    <button
      class="change-currency"
      matSuffix
      mat-icon-button
      i18n-aria-label
      aria-label="Select your crypto currency"
      [matMenuTriggerFor]="menuCurrencies.matMenu">
      <picture class="flex items-center gap-x-2 px-2">
        <img
          [src]="getCurrencyRepresentation({ asset: form.controls.id.value, isFiat: false })"
          i18n-alt
          [alt]="'Image representing ' + form.controls.id.value" />
        <span class="font-medium">{{ getCurrencyNameFromId(form.controls.id.value) }}</span>
      </picture>
      <mat-icon class="mr-2">keyboard_arrow_down</mat-icon>
    </button>
    <div class="mx-8">
      <app-alert-card
        message="Transactions are irreversible, so make sure that the address exists and you are sending it to the right address." />
    </div>
    <app-input-text
      hint="Enter the amount that you want to withdrawal"
      label="Amount"
      name="Amount"
      type="number"
      [formControl]="form.controls.amount"
      class="w-full px-8" />
    <app-input-text
      hint="Ex. moBtVsbyFZJiXr9fsHe1k4mA7HHkwZGCyS"
      label="Wallet address"
      name="Wallet address"
      type="text"
      [formControl]="form.controls.address"
      class="w-full px-8" />
    <img
      class="max-w-xs rounded-lg border"
      *ngIf="walletInformation"
      [src]="walletInformation.qrcode"
      alt="Wallet address as QR code" />
    <app-currencies-menu
      (itemSelected)="setSelection($event)"
      #menuCurrencies
      [isFiatCollection]="false"
      [collection]="allCurrencies"></app-currencies-menu>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button color="accent" (click)="confirmWithdrawal()" class="w-full">Confirm</button>
  </div>
</div>
<ng-template #confirmedTransaction>
  <div class="flex flex-col items-center justify-center w-full p-4 gap-2 relative">
    <p class="header">Your transaction has started!</p>
    <p class="description">
      The transaction is being processed, it'll take some minutes to be confirmed but you can track it on
      <b>My Transactions</b> menu.
    </p>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button color="accent" mat-dialog-close class="w-full">Finish</button>
  </div>
</ng-template>
