<button mat-icon-button [matMenuTriggerFor]="menuLanguages" i18n-aria-label aria-label="Change the web site language.">
  <mat-icon>translate</mat-icon>
</button>
<mat-menu #menuLanguages="matMenu">
  <button mat-menu-item (appAccessiblePress)="changeLocaleServer('en-US')">
    <div class="flex items-center gap-x-2">
      <img src="assets/images/flags/USD.webp" i18n-alt alt="United States flag." class="flag" />
      <span>English (USA)</span>
    </div>
  </button>
  <button mat-menu-item (appAccessiblePress)="changeLocaleServer('pt')">
    <div class="flex items-center gap-x-2">
      <img src="assets/images/flags/BRL.webp" i18n-alt alt="Brazil flag." class="flag" />
      <span>Português (Brasil)</span>
    </div>
  </button>
</mat-menu>
