.markdown {
  @apply max-w-xs min-[768px]:max-w-lg min-[1024px]:max-w-3xl;
}
h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 0;
  padding: 0;
}
h1 {
  font-size: 48px;
  margin: 0;
}
h2 {
  font-size: 36px;
  margin: 24px 0 6px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 21px;
}
h5 {
  font-size: 18px;
}
a {
  color: #61bfc1;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #466b6c;
}

img {
  display: flex;
  margin-inline: auto;
  max-height: 400px;
  @apply shadow-light;
  @apply rounded-lg;
}
