:host {
  @apply sticky top-0 z-50;

  .app-logo {
    @apply w-[135px] h-[41px];
  }

  .spacer {
    flex: 1 1 auto;
  }

  span {
    @apply uppercase;
    @apply font-bold;
    @apply text-xs;
  }

  .mat-mdc-chip {
    cursor: 'pointer' !important;
  }
  .mat-chip {
    background-color: var(--mat-toolbar-container-background-color);
  }
}

.flag {
  transform: scale(0.65);
}

.mat-icon {
  font-size: 1.25rem;
  height: 1.25rem;
  width: 1.25rem;
}

.open-container {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.closed-container {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: transparent;
}
