:host {
  @apply sticky top-[34px] z-40;

  .toolbar {
    @apply flex items-center justify-center;
    .desktop-container {
      @apply px-3 w-full flex justify-between items-center gap-x-1;
    }
  }

  .app-logo {
    @apply w-[135px] h-[41px];
  }

  .spacer {
    flex: 1 1 auto;
  }

  .spacer-left {
    width: 100%;
  }
  .spacer-right {
    width: calc(100% - 16px)
  }

  span {
    @apply uppercase;
    @apply font-bold;
    @apply text-xs;
  }

  .mat-mdc-chip {
    cursor: 'pointer' !important;
  }
  .mat-chip {
    background-color: var(--mat-toolbar-container-background-color);
  }
}

.flex-centered {
  @apply flex items-center justify-center;
}

.flag {
  transform: scale(0.65);
}

.open-container {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.closed-container {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: transparent;
}
