<mat-toolbar
  *ngIf="isDesktop$ | async; else mobileBlock"
  class="flex items-center justify-center shadow-skim"
  color="primary">
  <div class="px-3 w-full flex justify-between items-center gap-x-1">
    <button i18n-aria-label aria-label="Button to go to the home page." routerLink="/">
      <img
        *ngIf="(theme$ | async) === 'dark-mode'"
        i18n-alt
        alt="Central Hash logo."
        class="app-logo"
        src="assets/images/white-logo.svg" />
      <img
        *ngIf="(theme$ | async) === 'light-mode'"
        i18n-alt
        alt="Central Hash logo."
        class="app-logo"
        src="assets/images/black-logo.svg" />
    </button>
    <button mat-flat-button color="primary">Buy crypto</button>
    <button [matMenuTriggerFor]="tradeAnon" mat-flat-button color="primary">
      <div class="flex items-center justify-center">Trade anonymous<mat-icon>expand_more</mat-icon></div>
    </button>
    <mat-menu #tradeAnon="matMenu">
      <button mat-menu-item>
        <div class="flex items-center justify-center"><mat-icon>group</mat-icon>P2P pure</div>
      </button>
      <button mat-menu-item>
        <div class="flex items-center justify-center"><mat-icon>diversity_3</mat-icon>P2P with guarantee</div>
      </button>
      <button mat-menu-item>
        <div class="flex items-center justify-center"><mat-icon>lock</mat-icon>Buy without KYC</div>
      </button>
      <button mat-menu-item>
        <div class="flex items-center justify-center"><mat-icon>air</mat-icon>Ghost account</div>
      </button>
    </mat-menu>
    <button mat-flat-button color="primary">Crowdfunding</button>
    <button [matMenuTriggerFor]="aboutUsMenu" mat-flat-button color="primary">
      <div class="flex items-center justify-center">About us<mat-icon>expand_more</mat-icon></div>
    </button>
    <mat-menu #aboutUsMenu="matMenu">
      <button mat-menu-item>
        <div class="flex items-center justify-center"><mat-icon>question_mark</mat-icon>Who we are</div>
      </button>
      <button mat-menu-item>
        <div class="flex items-center justify-center"><mat-icon>public</mat-icon>Our mission</div>
      </button>
      <button mat-menu-item>
        <div class="flex items-center justify-center"><mat-icon>description</mat-icon>Blog</div>
      </button>
    </mat-menu>
    <span class="spacer"></span>
    <button
      mat-icon-button
      *ngIf="(theme$ | async) === 'dark-mode'"
      (appAccessiblePress)="changeTheme('light-mode')"
      class="example-icon"
      i18n-aria-label
      aria-label="Change the web site theming.">
      <mat-icon>dark_mode</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="(theme$ | async) === 'light-mode'"
      (appAccessiblePress)="changeTheme('dark-mode')"
      class="example-icon"
      i18n-aria-label
      aria-label="Change the web site theming.">
      <mat-icon>light_mode</mat-icon>
    </button>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menuLanguages"
      class="example-icon"
      i18n-aria-label
      aria-label="Change the web site language.">
      <mat-icon>translate</mat-icon>
    </button>
    <mat-menu #menuLanguages="matMenu">
      <button mat-menu-item (appAccessiblePress)="changeLocaleServer('en-US')">
        <div class="flex items-center gap-x-2">
          <img src="assets/images/flags/usa.webp" i18n-alt alt="United States flag." class="flag" />
          <span>English (USA)</span>
        </div>
      </button>
      <button mat-menu-item (appAccessiblePress)="changeLocaleServer('pt')">
        <div class="flex items-center gap-x-2">
          <img src="assets/images/flags/brazil.webp" i18n-alt alt="Brazil flag." class="flag" />
          <span>Português (Brasil)</span>
        </div>
      </button>
    </mat-menu>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menuCurrencies"
      class="example-icon"
      i18n-aria-label
      aria-label="Change the currency used to convert prices.">
      <mat-icon>attach_money</mat-icon>
    </button>
    <mat-menu #menuCurrencies="matMenu">
      <button mat-menu-item (appAccessiblePress)="changeDefaultCurrency(fiatCurrencies.usd)">
        <div class="flex items-center gap-x-2">
          <img src="assets/images/flags/usa.webp" i18n-alt alt="United States flag." class="flag" />
          <span>USD</span>
        </div>
      </button>
      <button mat-menu-item (appAccessiblePress)="changeDefaultCurrency(fiatCurrencies.eur)">
        <div class="flex items-center gap-x-2">
          <img src="assets/images/flags/eu.webp" i18n-alt alt="European Union flag." class="flag" />
          <span>EUR</span>
        </div>
      </button>
      <button mat-menu-item (appAccessiblePress)="changeDefaultCurrency(fiatCurrencies.inr)">
        <div class="flex items-center gap-x-2">
          <img src="assets/images/flags/india.webp" i18n-alt alt="Indian flag." class="flag" />
          <span>INR</span>
        </div>
      </button>
      <button mat-menu-item (appAccessiblePress)="changeDefaultCurrency(fiatCurrencies.brl)">
        <div class="flex items-center gap-x-2">
          <img src="assets/images/flags/brazil.webp" i18n-alt alt="Brazilian flag." class="flag" />
          <span>BRL</span>
        </div>
      </button>
      <button mat-menu-item (appAccessiblePress)="changeDefaultCurrency(fiatCurrencies.rub)">
        <div class="flex items-center gap-x-2">
          <img src="assets/images/flags/russia.webp" i18n-alt alt="Russian flag." class="flag" />
          <span>RUB</span>
        </div>
      </button>
      <button mat-menu-item (appAccessiblePress)="changeDefaultCurrency(fiatCurrencies.ngn)">
        <div class="flex items-center gap-x-2">
          <img src="assets/images/flags/nigeria.webp" i18n-alt alt="Nigerian flag." class="flag" />
          <span>NGN</span>
        </div>
      </button>
      <button mat-menu-item (appAccessiblePress)="changeDefaultCurrency(fiatCurrencies.cny)">
        <div class="flex items-center gap-x-2">
          <img src="assets/images/flags/china.webp" i18n-alt alt="Chinese flag." class="flag" />
          <span>CNY</span>
        </div>
      </button>
      <button mat-menu-item (appAccessiblePress)="changeDefaultCurrency(fiatCurrencies.vnd)">
        <div class="flex items-center gap-x-2">
          <img src="assets/images/flags/vietnam.webp" i18n-alt alt="Vietnam flag." class="flag" />
          <span>VND</span>
        </div>
      </button>
      <button mat-menu-item (appAccessiblePress)="changeDefaultCurrency(fiatCurrencies.uah)">
        <div class="flex items-center gap-x-2">
          <img src="assets/images/flags/ukraine.webp" i18n-alt alt="Ukranian flag." class="flag" />
          <span>UAH</span>
        </div>
      </button>
    </mat-menu>
    <button
      routerLink="/sign-in"
      mat-flat-button
      color="primary"
      i18n-aria-label
      aria-label="Change the web site theme.">
      Sign-in
    </button>
    <button
      routerLink="/sign-up"
      mat-flat-button
      color="accent"
      i18n-aria-label
      aria-label="Change the web site theme.">
      Sign-up
    </button>
  </div>
</mat-toolbar>
<ng-template #mobileBlock>
  <!-- #TODO: put the drawer inside a component to be used in the app component -->
  <mat-toolbar class="flex items-center justify-center shadow-skim" color="primary">
    <div class="w-full flex justify-between items-center gap-x-1">
      <button
        mat-icon-button
        (click)="drawer.toggle()"
        (appAccessiblePress)="changeDrowerState()"
        class="example-icon"
        i18n-aria-label
        aria-label="Change the web site theming.">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-drawer-container
        [hasBackdrop]="true"
        [class]="(drawerState$ | async) ? 'open-container' : 'closed-container'"
        (backdropClick)="changeDrowerState()"
        autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
          <p>Auto-resizing sidenav</p>
          <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        </mat-drawer>
      </mat-drawer-container>
      <span class="spacer"></span>
      <button
        routerLink="/sign-up"
        mat-flat-button
        color="accent"
        i18n-aria-label
        aria-label="Change the web site theme.">
        Sign up
      </button>
    </div>
  </mat-toolbar>
</ng-template>
