<mat-toolbar *ngIf="isDesktop$ | async; else mobileBlock" class="toolbar">
  <div class="desktop-container">
    <button i18n-aria-label aria-label="Button to go to the home page." routerLink="/">
      <img
        *ngIf="(theme$ | async) === 'dark-mode'"
        i18n-alt
        alt="Central Hash logo."
        class="app-logo"
        src="assets/images/white-logo.svg" />
      <img
        *ngIf="(theme$ | async) === 'light-mode'"
        i18n-alt
        alt="Central Hash logo."
        class="app-logo"
        src="assets/images/black-logo.svg" />
    </button>
    <button mat-button i18n>Buy crypto</button>
    <button [matMenuTriggerFor]="tradeAnon" mat-button>
      <div class="flex-centered" i18n>Trade anonymously<mat-icon class="icon-size">expand_more</mat-icon></div>
    </button>
    <mat-menu #tradeAnon="matMenu">
      <button mat-menu-item disabled>
        <div class="flex-centered" i18n><mat-icon>group</mat-icon>P2P pure</div>
      </button>
      <button mat-menu-item disabled>
        <div class="flex-centered" i18n><mat-icon>diversity_3</mat-icon>P2P with guarantee</div>
      </button>
      <button mat-menu-item disabled>
        <div class="flex-centered" i18n><mat-icon>lock</mat-icon>Buy without KYC</div>
      </button>
      <button mat-menu-item disabled>
        <div class="flex-centered" i18n><mat-icon>air</mat-icon>Ghost account</div>
      </button>
      <button mat-menu-item disabled>
        <div class="flex-centered" i18n><mat-icon [svgIcon]="'decentralized_protocols'"></mat-icon>Tor and IPFS</div>
      </button>
    </mat-menu>
    <button [matMenuTriggerFor]="aboutUsMenu" mat-button>
      <div class="flex-centered" i18n>About us<mat-icon class="icon-size">expand_more</mat-icon></div>
    </button>
    <mat-menu #aboutUsMenu="matMenu">
      <button mat-menu-item disabled>
        <div class="flex-centered" i18n><mat-icon>question_mark</mat-icon>Who we are</div>
      </button>
      <button mat-menu-item disabled>
        <div class="flex-centered" i18n><mat-icon>public</mat-icon>Our mission</div>
      </button>
      <button mat-menu-item disabled>
        <div class="flex-centered" i18n><mat-icon>description</mat-icon>Blog</div>
      </button>
    </mat-menu>
    <button [matMenuTriggerFor]="moreMenu" mat-button>
      <div class="flex-centered" i18n>More<mat-icon class="icon-size">expand_more</mat-icon></div>
    </button>
    <mat-menu #moreMenu="matMenu">
      <button mat-menu-item routerLink="/support">
        <div class="flex-centered" i18n><mat-icon> support_agent</mat-icon>Support</div>
      </button>
      <button mat-menu-item disabled>
        <div class="flex-centered" i18n><mat-icon>show_chart</mat-icon>Markets</div>
      </button>
      <button mat-menu-item disabled>
        <div class="flex-centered" i18n><mat-icon>api</mat-icon>API</div>
      </button>
      <button mat-menu-item disabled>
        <div class="flex-centered" i18n><mat-icon>hub</mat-icon>Affiliate</div>
      </button>
      <button mat-menu-item disabled>
        <div class="flex-centered" i18n><mat-icon>gavel</mat-icon>Terms of use</div>
      </button>
      <button mat-menu-item disabled>
        <div class="flex-centered" i18n><mat-icon>policy</mat-icon>Privacy policy</div>
      </button>
    </mat-menu>

    <span class="spacer"></span>
    <app-button-change-theme></app-button-change-theme>
    <app-change-locale-button></app-change-locale-button>
    <app-button-change-currency></app-button-change-currency>
    <button routerLink="/sign-in" mat-button i18n>Sign in</button>
    <button routerLink="/sign-up" mat-flat-button color="accent" i18n>Sign up</button>
  </div>
</mat-toolbar>
<mat-divider></mat-divider>
<!-- #TODO: put the drawer inside a component to be used in the app component -->
<ng-template #mobileBlock>
  <mat-toolbar class="flex-centered shadow-skim">
    <div class="w-full flex justify-between items-center gap-x-1">
      <button mat-icon-button (click)="toggleSideNav()" i18n-aria-label aria-label="Open side menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer-left"></span>

      <a class="w-20" routerLink="/home">
        <img
          *ngIf="(theme$ | async) === 'light-mode'"
          src="/assets/images/symbol-black.svg"
          alt="Central Hash symbol" />
        <img *ngIf="(theme$ | async) === 'dark-mode'" src="/assets/images/symbol-white.svg" alt="Central Hash symbol" />
      </a>

      <span class="spacer-right"></span>
      <button routerLink="/sign-up" mat-flat-button color="accent" i18n>Sign up</button>
    </div>
  </mat-toolbar>
</ng-template>
