:host {
  @apply sticky top-[34px] z-40;

  .toolbar {
    @apply flex items-center justify-center;
    .desktop-container {
      @apply px-3 w-full flex justify-between items-center gap-x-1;
    }
  }

  .app-logo {
    @apply w-[135px] h-[41px];
    @apply mr-2;
  }

  .spacer {
    @apply flex-auto;
  }

  .spacer-left {
    @apply w-full;
  }
  .spacer-right {
    width: calc(100% - 16px);
  }

  span {
    @apply uppercase;
    @apply font-bold;
    @apply text-xs;
  }

  .mat-mdc-chip {
    cursor: 'pointer' !important;
  }
  .mat-chip {
    background-color: var(--mat-toolbar-container-background-color);
  }

  .icon-size {
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
  }
}

.flex-centered {
  @apply flex items-center justify-center;
}
