<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title> {{ wallet.code }} {{ wallet.balance / 100000000 }}</mat-card-title>
      <mat-card-subtitle>
        {{ (wallet.balance / 100000000) * currencyPrice | currency: defaultCurrency }}</mat-card-subtitle
      >
      <img mat-card-sm-image i18n-alt alt="{{ wallet.name }} icon" [src]="'assets/images/' + wallet.name + '.svg'" />
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div>
      <span i18n><b>Wallet address:</b></span>
      <p class="text-sm">
        {{ wallet.address }}
      </p>
    </div>
    <div>
      <span i18n><b>Unconfirmed balance:</b></span>
      <p class="text-sm">{{ wallet.code }} {{ wallet.unconfirmedBalance }}</p>
    </div>
    <div>
      <span i18n><b>Total of transactions:</b></span>
      <p class="text-sm">
        {{ wallet.transactionsReference.length }}
      </p>
    </div>
  </mat-card-content>
</mat-card>
