<div class="flex flex-col items-center justify-center w-full p-4 gap-2">
  <p class="header" i18n>Deposit crypto</p>
  <p class="description" i18n>Select which cryptocurrency you want to deposit in your Main Chainz account.</p>
</div>
<div class="flex flex-col gap-3 items-center">
  <button
    class="change-currency"
    matSuffix
    mat-icon-button
    i18n-aria-label
    aria-label="Select your crypto currency"
    [matMenuTriggerFor]="menuCurrencies.matMenu">
    <picture class="flex items-center gap-x-2 px-2">
      <img
        [src]="getCurrencyRepresentation({ asset: form.controls.id.value, isFiat: false })"
        i18n-alt
        [alt]="'Image representing ' + form.controls.id.value" />
      <span class="font-medium">{{ getCurrencyNameFromId(form.controls.id.value) }}</span>
    </picture>
    <mat-icon class="mr-2">keyboard_arrow_down</mat-icon>
  </button>
  <button
    mat-stroked-button
    matTooltip="Copy the wallet address"
    (click)="copyWalletAddress()"
    i18n-aria-label
    aria-label="Button that displays a tooltip when focused or hovered over">
    <mat-icon *ngIf="!isCopied" color="accent">content_copy</mat-icon
    ><mat-icon *ngIf="isCopied" color="accent">done_outline</mat-icon>
    {{ walletInformation.address }}
  </button>
  <img
    class="max-w-xs rounded-lg border"
    *ngIf="walletInformation"
    [src]="walletInformation.qrcode"
    i18n-alt
    alt="Wallet address as QR code" />
  <app-currencies-menu
    (itemSelected)="setSelection($event)"
    #menuCurrencies
    [isFiatCollection]="false"
    [collection]="allCurrencies"></app-currencies-menu>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="accent" mat-dialog-close class="w-full" i18n>Finish</button>
</div>
