<app-alert-card [class]="cardState$ | async" [message]="(message$ | async) ?? ''"></app-alert-card>
<mat-card class="form-card" appearance="outlined">
  <mat-tab-group color="accent">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">person</mat-icon>
        <span i18n>Personal</span>
      </ng-template>
      <div class="p-4 flex items-center justify-center flex-col">
        <span class="mb-3" i18n>Welcome back</span>
        <form [formGroup]="signInForm" (ngSubmit)="send()">
          <mat-form-field color="accent" class="w-full" hideRequiredMarker>
            <mat-label aria-hidden="true" i18n>Email</mat-label>
            <input
              [formControl]="signInForm.controls.email"
              matInput
              required
              i18n-placeholder
              placeholder="Type your email"
              type="email"
              i18n-name
              name="Email" />
            <mat-error>{{ emailErrorMessage$ | async }}</mat-error>
          </mat-form-field>
          <mat-form-field color="accent" class="w-full" hideRequiredMarker>
            <mat-label aria-hidden="true" i18n>Password</mat-label>
            <input
              [formControl]="signInForm.controls.password"
              matInput
              required
              i18n-placeholder
              placeholder="Type your password"
              [type]="hide ? 'password' : 'text'"
              type="password"
              i18n-name
              name="Password" />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              i18n-aria-label
              aria-label="Hide password"
              [attr.aria-pressed]="hide">
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error>{{ passwordErrorMessage$ | async }}</mat-error>
          </mat-form-field>
          <div class="flex justify-between">
            <app-button-secondary
              routerLink="/sign-up"
              i18n-title
              title="Not registered?"
              i18n-label
              label="Not registered button"
              type="button"></app-button-secondary>

            <div>
              <app-button-primary
                type="submit"
                i18n-label
                label="Sign in button"
                i18n-title
                title="Sign in"
                color="accent"
                ><mat-icon>arrow_forward</mat-icon></app-button-primary
              >
            </div>
          </div>
        </form>
      </div>
    </mat-tab>
    <mat-tab disabled="true">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">air</mat-icon>
        <span i18n>Ghost</span>
      </ng-template>

      Content 3
    </mat-tab>
  </mat-tab-group>
</mat-card>
