<section class="section-one">
  <div>
    <h1 i18n>
      Looking for privacy and <br />
      decentralized access?
    </h1>

    <p i18n>
      Central Hash was designed to be accessed in the most hostile environments possible, such as dictatorships, wars,
      and other various situations in which an individual's basic human rights could be put at risk.
    </p>
  </div>
  <div class="block">
    <img
      class="m-auto"
      src="assets/images/decentralized/decentralized-protocols.webp"
      i18n-alt
      alt="Brave, Ipfs and TOR brand logos" />
  </div>
</section>
<mat-divider></mat-divider>
<section class="img-right">
  <div>
    <h1 i18n>Use IPFS for fast decentralized access</h1>

    <p i18n>
      IPFS, is a decentralized and peer-to-peer system. Instead of relying on a single server, it breaks files into
      smaller chunks and distributes them across a network of computers. When you want to access a file or a website,
      your device fetches these chunks from multiple sources, making the process more resilient, faster, and
      censorship-resistant.
    </p>
    <p i18n>
      Are you a beginner? Read <a class="text-blue-700 underline" routerLink="/home">this article</a> to get started
      with IPFS.
    </p>
  </div>
  <div class="block">
    <img class="m-auto" src="assets/images/decentralized/ipfs-logo.webp" i18n-alt alt="Ipfs project logo" />
  </div>
</section>
<mat-divider></mat-divider>
<section class="img-left">
  <div class="block">
    <img class="m-auto" src="assets/images/decentralized/tor-logo.webp" i18n-alt alt="Tor project logo" />
  </div>
  <div>
    <p class="text-red-600 font-semibold" i18n>Not implemented yet</p>
    <h1 i18n>Use TOR for privacy and decentralization</h1>

    <p i18n>
      When you use the regular web, websites can see your IP address and potentially track your online activities. Tor
      helps protect your privacy by bouncing your internet traffic through a network of volunteer-operated servers,
      making it difficult for websites or anyone else to trace your online actions back to you.
    </p>
  </div>
</section>
