<div class="panel" tabindex="0" *ngIf="isHandset$ | async">
  <p i18n>Power</p>
  <p i18n>Freedom</p>
  <p i18n>Defense</p>
  <p i18n>Autonomy</p>
  <p class="description" i18n>That's what Bitcoin is about, and that's what we are about.</p>
  <div class="stripes"></div>
</div>
<div class="animation">
  <app-particle-bg></app-particle-bg>
  <app-sign-in-form
    class="forms"
    *ngIf="(showCodeInput$ | async) === false"
    (sendEvent)="signIn($event)"
    [asyncError]="(asyncError$ | async) ?? 0"></app-sign-in-form>
  <app-insert-your-code
    (sendEvent)="confirmCodeSignIn({ code: $event.code })"
    (returnEvent)="returnToSignIn()"
    [asyncError]="(asyncError$ | async) ?? 0"
    class="forms"
    *ngIf="showCodeInput$ | async"></app-insert-your-code>
</div>
