:host {
  @apply flex justify-between items-center;
  .animation {
    @apply relative w-screen;
    @apply w-full min-[1024px]:w-[55vw];
    height: calc(100vh - 90px);
  }
  .sign-in-form {
    @apply font-bold;
    @apply absolute top-[50%] left-[50%] transform translate-x-[-50%] translate-y-[-50%];
  }

  .panel {
    @apply flex flex-col justify-start items-start;
    @apply px-6 pt-12 pb-6;
    @apply rounded-lg my-5 ml-5;
    @apply shadow-lifted;
    @apply text-7xl font-bold;
    @apply w-[45vw];
    background-color: var(--mat-toolbar-container-background-color);
    height: calc(100vh - 126px);


    .description {
      @apply text-2xl text-gray-700  font-normal;
      @apply my-3;
    }
  }

  .stripes {
    @apply rounded-lg;
    @apply h-full w-full;
    background: linear-gradient(
      -45deg,
      var(--mat-toolbar-container-text-color),
      #6e6e6e,
      var(--mat-toolbar-container-text-color),
      #d7d7d7
    );
    background-size: 300% 200%;
    animation: gradient 10s ease-in-out infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
      opacity: 0.3;
    }
    50% {
      background-position: 100% 50%;
      opacity: 1;
    }
    100% {
      background-position: 0% 50%;
      opacity: 0.3;
    }
  }
}
