<div class="container">
  <h1 i18n appShapeBehind class="headers">Our mission</h1>
  <p i18n>Our mission here at Main Chainz is difficult, risky, and for many even insane:</p>
  <p i18n>
    <b
      >Provide access to an alternative financial system for society, so that people are not exploited by the state and
      its agents.</b
    >
  </p>

  <h1 i18n appShapeBehind class="headers mt-8">What do we mean by that?</h1>
  <p i18n>
    Well, there are several ways of interpreting it. Inflation, violation of privacy with unrestricted access to
    financial data, violation of rights in times of crisis by limiting withdrawals to avoid bank collapses and
    exorbitant taxes that prevent class transition, are just a few ways in which the power of the state and large
    corporations that use the fiduciary system as a weapon against society is manifested.
  </p>
  <br />
  <p i18n>
    What Main Chainz offers goes far beyond cryptocurrencies and investments, but a form of resistance to all the
    cruelty that is seen in the fiduciary system with a tool (cryptocurrencies) that the state has no control over and
    sometimes not even knowledge of.
  </p>

  <p i18n>
    Main Chainz was born out of the need for power of the oppressed and joins all those who seek sovereignty over their
    finances, are you ready to join us?
  </p>

  <h1 i18n appShapeBehind class="headers mt-8">Who we are?</h1>
  <p i18n>
    Main Chainz is a company based in Brazil, and acts as a cryptocurrency broker and cryptocurrency investment
    provider.
  </p>
  <br />
  <p i18n>
    We believe that through technology, cryptography and finance we can change humanity and the course of societies
    around the world by offering an alternative system to fiat, so that dictatorships are weakened, pseudo-democracies
    unmasked, inflation fueled by central banks annihilated, among other changes.
  </p>
  <br />

  <p i18n>Welcome to Main Chainz!</p>
</div>
