<div class="container">
  <h1 appShapeBehind class="headers">Our mission</h1>
  <p>Our mission here at Main Chainz is difficult, risky, and for many even insane:</p>
  <p>
    To provide access to an alternative financial system for society, so that people are not exploited by the state and
    its agents.
  </p>

  <h1 appShapeBehind class="headers">What do we mean by that?</h1>
  <p>
    Well, there are several ways of interpreting it. Inflation, violation of privacy with unrestricted access to
    financial data, violation of rights in times of crisis by limiting withdrawals to avoid bank collapses and
    exorbitant taxes that prevent class transition, are just a few ways in which the power of the state and large
    corporations that use the fiduciary system as a weapon against society is manifested.
  </p>

  <p>
    What Main Chainz offers goes far beyond cryptocurrencies and investments, but a form of resistance to all the
    cruelty that is seen in the fiduciary system with a tool (cryptocurrencies) that the state has no control over and
    sometimes not even knowledge of.
  </p>

  <p>
    Main Chainz was born out of the need for power of the oppressed and joins all those who seek sovereignty over their
    finances, are you ready to join us?
  </p>

  <h1 appShapeBehind class="headers">Who we are?</h1>
</div>
