<div
  style="background-color: var(--mat-toolbar-container-background-color)"
  class="flex flex-col gap-y-6 shadow-raised rounded-xl min-[768px]:p-8 p-4">
  <div class="flex flex-col items-center">
    <span class="min-[768px]:text-2xl text-lg font-medium text-gray-700">Central Hash support center</span>
    <span class="min-[768px]:text-6xl text-2xl font-bold whitespace-nowrap mx-10">How can we help you?</span>
  </div>
  <app-input-text
    name="Input to type your question"
    label="What are you looking for?"
    type="text"
    icon="search"></app-input-text>
</div>
