<div class="currencies" *ngIf="currenciesBroadCast$ | async as currenciesBroadCast">
  <div class="currencies-slide mx-2">
    <app-preview-currency
      *ngFor="let currency of currenciesBroadCast"
      [baseFiatCurrency]="'USD'"
      [name]="currency.name"
      [price]="currency.price"
      [priceChange24h]="currency.priceChange24h"></app-preview-currency>
  </div>
  <div class="currencies-slide mx-2">
    <app-preview-currency
      *ngFor="let currency of currenciesBroadCast"
      [baseFiatCurrency]="'USD'"
      [name]="currency.name"
      [price]="currency.price"
      [priceChange24h]="currency.priceChange24h"></app-preview-currency>
  </div>
</div>
