:host{
    @apply w-full;
    @apply py-1;
    background-color: var(--mat-toolbar-container-background-color);
    .currencies {
        @apply overflow-hidden;
        @apply flex;
        
        .currencies-slide {
            @apply flex  gap-x-4;
            
            animation: slide 50s linear infinite;
        }

        &:hover {
            .currencies-slide {
                animation-play-state: paused;
            }
        }

    }


    @keyframes slide {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }
}