<div class="currencies">
  <div class="currencies-slide">
    <span>carousel-spanrices works!</span>
    <span>Gecko</span>
    <span>fake</span>
    <span>bitcoin</span>
    <span>Ospanie</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
  </div>
  <div class="currencies-slide">
    <span>carousel-spanrices works!</span>
    <span>Gecko</span>
    <span>fake</span>
    <span>bitcoin</span>
    <span>Ospanie</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
    <span>aaaaaaaah</span>
  </div>
</div>
