<mat-chip-listbox class="chips" aria-label="Cryptocurrency selection">
  <mat-chip-option selected>
    <img matChipAvatar class="chip-icons" src="assets/images/bitcoin.svg" alt="Bitcoin icon." />
    Bitcoin
  </mat-chip-option>
  <mat-chip-option disabled>
    <img matChipAvatar class="chip-icons" src="assets/images/ethereum.svg" alt="Ethereum icon." />
    Ethereum
  </mat-chip-option>
  <mat-chip-option disabled>
    <img matChipAvatar class="chip-icons" src="assets/images/monero.svg" alt="Monero icon." />
    Monero
  </mat-chip-option>
</mat-chip-listbox>
<mat-grid-list class="grid-layout-custom" [cols]="isHandset$ | async" gutterSize="12" rowHeight="200px">
  <mat-grid-tile
    class="tile-custom"
    *ngFor="let tile of tiles"
    (click)="navigateTo({ route: tile.route, isActive: tile.isActive })"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    matRipple
    [style.background]="tile.color"
    [style.cursor]="tile.isActive ? 'pointer' : 'not-allowed'"
    [style.opacity]="tile.isActive ? 1 : 0.5">
    <div class="flex flex-col">
      <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" [fontIcon]="tile.icon"></mat-icon>
      <span class="font-medium text-xs text-slate-200">{{ tile.text }}</span>
    </div>
  </mat-grid-tile>
</mat-grid-list>
