<mat-menu (closed)="emitCloseMenu()" class="max-h-[14rem]" #currenciesMenu="matMenu">
  <button (appAccessiblePress)="setItem = option" mat-menu-item *ngFor="let option of collection">
    <div [class]="isFiatCollection ? 'btn-option-fiat' : 'btn-option'">
      <img
        [src]="getCurrencyRepresentation({ asset: option.id, isFiat: isFiatCollection })"
        i18n-alt
        [alt]="isCurrency(option) ? option.name : option.id + ' icon'" />
      <span>{{ isCurrency(option) ? option.name : option.id + ' | ' + option.symbol }}</span>
    </div>
  </button>
</mat-menu>
