<mat-stepper [linear]="isLinear" #stepper animationDuration="150">
  <mat-step #refStepper *ngFor="let step of steps" [stepControl]="step.formGroup">
    <p class="header">{{ step.header }}</p>
    <p class="description">
      {{ step.description }}
    </p>
    <form [formGroup]="step.formGroup">
      <app-alert-card class="mb-3" [message]="(message$ | async) ?? ''" *ngIf="cardState$ | async"></app-alert-card>
      <mat-form-field hideRequiredMarker class="w-full" color="accent">
        <mat-label>{{ step.label }}</mat-label>
        <input matInput [placeholder]="step.placeholder" [formControl]="step.formControl" [type]="step.type" required />
        <mat-error class="leading-normal">{{ errorMessages(step.label) }}</mat-error>
      </mat-form-field>
      <div
        [class.mt-5]="
          newPasswordFormGroup.controls.password.hasError('strongPassword') &&
          newPasswordFormGroup.controls.password.touched
        "
        class="w-full flex justify-between">
        <button mat-button mat-dialog-close>{{ step.secondaryButtonText }}</button>
        <button
          (appAccessiblePress)="defineSubmit({ label: step.label, stepper: refStepper })"
          mat-flat-button
          color="accent">
          {{ step.primaryButtonText }}
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <p class="header" i18n>Password changed!</p>
    <p class="description" i18n>
      Your password has been changed successfully. You can now sign in with your new password.
    </p>
    <button class="w-full" mat-flat-button color="accent" matDialogClose i18n>Finish</button>
  </mat-step>
</mat-stepper>
