<mat-stepper [linear]="isLinear" #stepper animationDuration="150">
  <mat-step [stepControl]="firstFormGroup">
    <p class="text-lg font-extrabold leading-5 text-center pb-3 pt-6 max-w-[75%] m-auto">What is your email address?</p>
    <p class="text-sm leading-4 text-center py-4 max-w-[80%] m-auto">
      We'll send an email containing a code to the email address associated with your account.
    </p>
    <form [formGroup]="firstFormGroup">
      <mat-form-field class="w-full" color="accent">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Type your email" formControlName="firstCtrl" type="email" required />
      </mat-form-field>
      <div class="w-full">
        <button mat-button mat-dialog-close>Cancel</button>
        <span class="spacer"></span>
        <button mat-flat-button color="accent" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
    <form [formGroup]="secondFormGroup">
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
<!-- <h1 mat-dialog-title>Change password</h1>
<div mat-dialog-content>
  <p class="text-sm leading-4 text-center pb-3">
    We'll send an email to <strong>your email address</strong> with a code to reset your password.
  </p>
  <app-input-text
    appearence="fill"
    label="Type your email address"
    name="type your email address"
    type="text"></app-input-text>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="accent" mat-dialog-close>Send email</button>
</div> -->
