:host {
  @apply flex justify-center items-center flex-col;
  @apply w-full;

  .tile-custom {
    @apply cursor-pointer;
    @apply rounded-md;
    @apply transition-all;
    @apply shadow-lifted;
    background-color: var(--mat-toolbar-container-background-color);
    &:hover {
      @apply shadow-raised;
    }
  }

  .icon {
    @apply self-center;
    @apply w-10 h-10;
    font-size: 2.5rem;
    @apply mb-2;
  }

  .grid-layout-custom {
    width: 100%;
  }
}

span {
  @apply text-center;
}
