<mat-grid-list
  class="grid-layout-custom"
  [cols]="onlyColumn ? 1 : (isHandset$ | async)"
  gutterSize="12"
  rowHeight="200px">
  <mat-grid-tile
    tabindex="0"
    class="tile-custom shadow-skim"
    *ngFor="let tile of gridData"
    (appAccessiblePress)="navigateTo({ route: tile.route, isActive: tile.isActive })"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    matRipple
    [style.background]="tile.color"
    [style.cursor]="tile.isActive ? 'pointer' : 'not-allowed'"
    [style.opacity]="tile.isActive ? 1 : 0.5">
    <div class="flex flex-col">
      <mat-icon class="icon" aria-hidden="false" [fontIcon]="tile.icon"></mat-icon>
      <span class="font-medium text-xs">{{ tile.text }}</span>
    </div>
  </mat-grid-tile>
</mat-grid-list>
