:host {
  @apply flex justify-center items-center flex-col;
  @apply w-full;

  .tile-custom {
    @apply cursor-pointer;
    @apply rounded-md;
    @apply transition-all;
    @apply uppercase;
    &:hover {
      @apply opacity-80;
    }
  }

  .icon {
    @apply self-center;
    @apply w-16 h-16;
    font-size: 4rem;
    // #TODO: is this needed?
    color: var(--mat-stepper-header-icon-foreground-color)
  }
  .grid-layout-custom {
    width: calc((25% - 0.75px) * 3 + 2px);
  }
}

span {
  // #TODO: is this needed?
  color: var(--mat-stepper-header-icon-foreground-color)
}