<div class="container">
  <div class="flex justify-stretch gap-x-2">
    <img alt="image" src="/assets/images/bitcoin.svg" />
    <div class="flex flex-col items-baseline gap-x-2 w-full">
      <span class="text-lg font-semibold">Bitcoin</span>
      <span class="text-lg text-gray-700">BTC</span>
    </div>
  </div>
  <div class="font-mono flex gap-x-2"><span>26,569.920</span><span class="text-green-500">+2.3%</span></div>
  <div class="w-full">
    <app-button-primary label="Buy" title="Buy" type="button"></app-button-primary>
  </div>
</div>
