<div class="container mat-elevation-z16">
  <div class="logo-and-text">
    <div class="texts">
      <span class="currency-name">{{ currencyName }}</span>
      <span class="currency-code">{{ currencyCode }}</span>
    </div>
    <img
      i18n-alt
      [alt]="currencyName + ' logo'"
      [src]="getCurrencyRepresentation({ asset: currencyCode, isFiat: false })" />
  </div>
  <div class="prices">
    <span>{{ price | currency }}</span
    ><span [class]="priceChange24hStatus">{{ priceChange24h }}%</span>
  </div>
  <div class="w-full">
    <app-button-primary
      i18n-label
      [label]="'Buy ' + currencyName"
      i18n-title
      [title]="'Buy ' + currencyCode"
      color="accent"
      type="button"></app-button-primary>
  </div>
</div>
