@import './scss/themes.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.1rem;
  @apply min-h-full min-w-[100%];
}

p,a,span,div,button,li,ul,ol,svg {
  letter-spacing: -0.01rem;
}

@layer base {
  .text-headline1 {
    font-weight: 300;
    font-size: 6rem;
    letter-spacing: -0.09375rem;
    line-height: 1.2;
  }

  .text-headline2 {
    font-weight: 300;
    font-size: 3.75rem;
    letter-spacing: -0.03125rem;
    line-height: 1.2;
  }

  .text-headline3 {
    font-weight: 400;
    font-size: 3rem;
    letter-spacing: 0;
    line-height: 1.2;
  }

  .text-headline4 {
    font-weight: 400;
    font-size: 2.125rem;
    letter-spacing: 0.015625rem;
    line-height: 1.4;
  }

  .text-headline5 {
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 1.6;
  }

  .text-headline6 {
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.009375rem;
    line-height: 1.6;
  }

  .text-subtitle1 {
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.009375rem;
  }

  .text-subtitle2 {
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: 0.00625rem;
  }

  .text-body1 {
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.03125rem;
  }

  .text-body2 {
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 0.015625rem;
  }

  .text-button {
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: 0.078125rem;
    text-transform: uppercase;
  }

  .text-caption {
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 0.025rem;
  }

  .text-overline {
    font-weight: 400;
    font-size: 0.625rem;
    letter-spacing: 0.09375rem;
    text-transform: uppercase;
  }
}

* {
  box-sizing: border-box;
}

// button:focus {
//   outline: 2px solid rgb(164, 0, 205) !important;
// }

/* Angular Material & Tailwind conflicts */

.mdc-notched-outline__notch {
  border-right: none;
}

.mat-mdc-text-field-wrapper {
  padding-right: 2px !important;
}

.mdc-button__label {
  @apply px-4;
}

.mdc-evolution-chip-set__chips {
  justify-content: center;
}

@media (min-width: 768px) {
  .mdc-evolution-chip-set__chips {
    justify-content: start;
  }
}

.mdc-button .mdc-button__label {
  padding: 0 !important;
}

.cdk-overlay-pane {
  max-width: 100% !important;
  @apply px-2;
}
.mat-horizontal-content-container {
  padding: 16px !important;
  padding-top: 0 !important;
}
.mat-expansion-panel-header {
  min-height: var(--mat-expansion-header-collapsed-state-height) !important;
  height: auto !important;
}
