<mat-drawer-container autosize>
  <mat-drawer #drawer [mode]="isAuthenticated() ? 'side' : 'over'" [opened]="(isDesktop$ | async) && isAuthenticated()">
    <div class="mat-sidenav">
      <app-tree *ngIf="!isAuthenticated()"></app-tree>
      <div class="mb-2" *ngIf="(isDesktop$ | async) === false">
        <app-button-change-currency></app-button-change-currency>
        <app-button-change-theme></app-button-change-theme>
        <app-change-locale-button></app-change-locale-button>
      </div>
    </div>
  </mat-drawer>
  <ng-content></ng-content>
</mat-drawer-container>
