<mat-form-field class="w-full">
  <mat-label aria-hidden="true" [attr.aria-labelledby]="id">{{ label }}</mat-label>
  <input
    [attr.aria-label]="label"
    [formControl]="inputControl"
    (blur)="touched()"
    matInput
    [placeholder]="placeholder"
    [attr.type]="type"
    [attr.id]="id"
    [name]="name"
    [attr.disabled]="isDisabled$ | async" />
  <mat-icon
    (appAccessiblePress)="onPressInputButton()"
    matRipple
    tabindex="0"
    *ngIf="!!icon"
    class="cursor-pointer rounded-full"
    matSuffix
    >{{ icon }}</mat-icon
  >
  <mat-hint>{{ hint }}</mat-hint>
</mat-form-field>
