:host{
    @apply flex justify-center items-center flex-col gap-y-[24px];
    height: calc(100vh - 210px);
}

.form-card {
    max-width: 400px;
    width: 90%;
  }
  
.example-tab-icon {
    margin-right: 8px;
}
  