<mat-card class="form-card" appearance="outlined">
  <mat-tab-group color="accent">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">person</mat-icon>
        Personal
      </ng-template>
      <div class="p-4 flex items-center justify-center flex-col">
        <span class="my-3">Create an account in a few steps</span>
        <form [formGroup]="signUpForm" (ngSubmit)="send()">
          <app-input-text
            [formControl]="signUpForm.controls.name"
            label="Name or nickname"
            name="Name or nickname input"
            type="text"></app-input-text>
          <app-input-text
            [formControl]="signUpForm.controls.email"
            label="Email"
            name="Email input"
            type="text"></app-input-text>
          <app-input-text
            [formControl]="signUpForm.controls.password"
            label="Password"
            name="Password input"
            type="text"></app-input-text>
          <mat-checkbox [formControl]="signUpForm.controls.termsAndConditions" class="mb-3">
            <p class="text-xs leading-4">
              By creating an account, I agree to Central Hash's Terms of Service and Privacy Policy.
            </p>
          </mat-checkbox>
          <div class="flex justify-between">
            <app-button-secondary
              routerLink="/sign-in"
              title="Already registered?"
              label="Already have an account button"
              type="button"></app-button-secondary>
            <app-button-primary type="text" label="Sign up button" title="Sign up" color="accent"
              ><mat-icon>arrow_forward</mat-icon></app-button-primary
            >
          </div>
        </form>
      </div>
    </mat-tab>
    <mat-tab disabled="true">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">air</mat-icon>
        Ghost
      </ng-template>

      Content 3
    </mat-tab>
  </mat-tab-group>
</mat-card>
