<app-alert-card [class]="cardState$ | async" [message]="(message$ | async) ?? ''"></app-alert-card>
<mat-card class="form-card" appearance="outlined">
  <mat-tab-group color="accent">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">person</mat-icon>
        Personal
      </ng-template>
      <div class="p-4 flex items-center justify-center flex-col">
        <span class="mb-3">Create an account in a few steps</span>
        <form [formGroup]="signUpForm" (ngSubmit)="send()">
          <mat-form-field color="accent" class="w-full" hideRequiredMarker>
            <mat-label aria-hidden="true">Name or nickname</mat-label>
            <input
              aria-label="Name or nickname"
              [formControl]="signUpForm.controls.name"
              matInput
              required
              placeholder="John Doe"
              type="text"
              name="Name or nickname" />
            <mat-error>{{ nameErrorMessage$ | async }}</mat-error>
          </mat-form-field>
          <mat-form-field color="accent" class="w-full" hideRequiredMarker>
            <mat-label aria-hidden="true">Email</mat-label>
            <input
              aria-label="Email"
              [formControl]="signUpForm.controls.email"
              matInput
              required
              placeholder="john@mail.com"
              type="email"
              name="Email" />
            <mat-error>{{ emailErrorMessage$ | async }}</mat-error>
          </mat-form-field>
          <mat-form-field color="accent" class="w-full" hideRequiredMarker>
            <mat-label aria-hidden="true">Password</mat-label>
            <input
              aria-label="Password"
              [formControl]="signUpForm.controls.password"
              matInput
              required
              placeholder="Type your password"
              [type]="hide ? 'password' : 'text'"
              type="password"
              name="Password" />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error>{{ passwordErrorMessage$ | async }}</mat-error>
          </mat-form-field>
          <mat-checkbox [formControl]="signUpForm.controls.termsAndConditions" class="mb-3">
            <p class="text-xs leading-4">
              By creating an account, I agree to Central Hash's Terms of Service and Privacy Policy.
            </p>
          </mat-checkbox>
          <div class="flex justify-between">
            <app-button-secondary
              routerLink="/sign-in"
              title="Already registered?"
              label="Already have an account button"
              type="button"></app-button-secondary>
            <app-button-primary type="text" label="Sign up button" title="Sign up" color="accent"
              ><mat-icon>arrow_forward</mat-icon></app-button-primary
            >
          </div>
        </form>
      </div>
    </mat-tab>
    <mat-tab disabled="true">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">air</mat-icon>
        Ghost
      </ng-template>

      Content 3
    </mat-tab>
  </mat-tab-group>
</mat-card>
